<footer class="h-[250px] bg-blue-950">
    <div class="lg:px-[80px] py-4 flex justify-evenly items-center">
        <div>
            <h1 class="text-2xl text-lime-500	 font-bold font-verdana underline">Address</h1><br>
            <i class="fa-solid fa-location-dot text-white "></i><span class="text-white font-mono font-semibold px-1">savar,Thana road - Aricha Hwy, Dhaka</span><br><br>
            <i class="fa-solid fa-code-branch text-white" style="color: #B197FC;"></i><span class="text-white font-mono font-semibold px-1"> Mirpur-2</span><br><br>
            <i class="fa-solid fa-code-branch text-white" style="color: #B197FC;"></i><span class="text-white font-mono font-semibold px-1">Dhanmondi-32</span>
        </div>
        <div>
        <h1 class=" text-2xl px-1 underline text-lime-500 mb-6"><i class="fa-solid fa-address-book text-white text-2xl"></i>contact</h1><br>
        <span class="text-white font-mono px-4 "><i class="fa-solid fa-phone text-white px-2"></i>+880 1952553600</span><br>
        <div class="flex items-center">
        <span class="text-white font-2xl font-mono px-4 py-4"><i class="fa-solid fa-square-envelope text-2xl px-2 py-1 text-white"></i>smdomar263@gmail.com</span>
        </div>

        </div>
        <div>
          <div class="text-whhite text-4xl font-extrabold flex items-center justify-around lg:w-[300px] ">
          <i class="fa-brands fa-facebook text-white"></i>
          <i class="fa-brands fa-instagram text-white"></i>
          <i class="fa-brands fa-linkedin text-white"></i>
          </div>
        </div>
    </div>
    
    
</footer>